/*Configuracion de grilla*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (min-width: 768px){
    body{
        max-width: 700px;
        margin: auto;
    }
    aside{
        border: 3px #7F7F7F dotted;
    }
    section{
        margin-top: 50px;
    }
    div.img-block{
        width: 700px;
    }
    div.info-block{
        max-width: 700px;
        border-bottom: dotted 2px black;
    }
    div.exp-block{
        margin: 5px;
        border: 2px solid black;
        padding: 4px;
    }
    ul{
        max-width: 700px;
        font-size: 16px;
    }
    footer{
        max-width: 700px;
        margin: 5px;
        padding: 8px;
        font-size: 14px;
                
    }
    h1{
        font-size: 32px;

    }
    h3{
        font-size: 24px;

    }
    h4{
        font-size: 20px;
    }
    p.category{
        font-size: 18px;
    }
    p.info{
        font-size: 18px;
    }

}